*,* {
  margin: 0;
  padding: 0;
}

body {
  color: #9c9c9c;
  text-align: center;
  background-color: rgb(238, 48, 48);
}

.navigation a {
  text-decoration: none;
  color: #dedede;
  /* font-size: 14px; */
}