*,* {
  margin: 0;
  padding: 0;
}

body {
  color: #ffffff;
  text-align: center;
  background-color: rgb(238, 162, 48);
}

.navigation a {
  text-decoration: none;
  color: rgba(10, 121, 84, 0.87);
  /* font-size: 14px; */
}